*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 15px; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: #2b2a2c; }
  body.no-scroll {
    overflow: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto; }

.contact__info {
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;
  font-size: 1.1rem;
  color: #2b2a2c; }

.header {
  padding: 1.2rem 0; }
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header__inner .my_logo {
      display: flex;
      align-items: center; }
      .header .header__inner .my_logo .logo_img {
        width: 57px;
        height: 57px; }
        .header .header__inner .my_logo .logo_img img {
          border-radius: 50%;
          width: 100%; }
      .header .header__inner .my_logo .logo_description {
        padding-left: 9px; }
        .header .header__inner .my_logo .logo_description h4 {
          font-size: 1.1rem;
          color: #2b2a2c;
          font-weight: bold;
          line-height: 1.2rem;
          margin-bottom: 5px; }
        .header .header__inner .my_logo .logo_description p {
          font-size: 0.8rem;
          color: #6A696B; }

.nav {
  display: flex;
  height: 100%;
  align-items: center; }
  .nav .nav__link {
    font-size: 0.93rem;
    color: #2b2a2c;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 30px; }
    .nav .nav__link:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #2b2a2c;
      position: absolute;
      bottom: -5px;
      left: 0;
      z-index: 1;
      transition: .2s linear; }
    .nav .nav__link:hover:not(.nav__link--btn):after {
      display: block;
      width: 100%; }
    .nav .nav__link--btn {
      padding: 0.66rem 2rem;
      border: 2px solid #2b2a2c;
      border-radius: 20px;
      transition: background-color .2s linear, color .2s linear; }
      .nav .nav__link--btn:hover {
        background: #2b2a2c;
        color: white; }

.wrapper .container .wrapper__inner {
  display: flex;
  border-bottom: 1px solid #8d8d8e54;
  padding: 100px 0 120px;
  position: relative; }
  .wrapper .container .wrapper__inner .wrapper__content {
    width: 50%; }
    .wrapper .container .wrapper__inner .wrapper__content .wrapper__subtitle {
      font-size: 2.13rem;
      font-weight: lighter;
      color: #2b2a2c;
      margin-bottom: 10px; }
    .wrapper .container .wrapper__inner .wrapper__content .wrapper__title {
      font-size: 3rem;
      font-weight: bold;
      color: #2b2a2c;
      margin-bottom: 10px; }
    .wrapper .container .wrapper__inner .wrapper__content .wrapper__text {
      font-size: 1.2rem;
      font-weight: lighter;
      color: #6A696B; }
  .wrapper .container .wrapper__inner .wrapper__photo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%; }

.wrapper__buttons {
  padding-top: 30px; }

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #2b2a2c;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #6A696B;
  border-radius: 1.8em;
  background: none;
  font-family: inherit;
  line-height: 1.1;
  padding: 1em 1.7em;
  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
  min-width: 170px;
  text-align: center;
  font-weight: bold; }
  .btn:hover {
    background: #2b2a2c;
    color: #fff;
    box-shadow: 2px 2px 10px #2B2A2C; }
  .btn:focus {
    outline: none; }
  .btn + .btn {
    margin-left: 1rem; }
  .btn--small {
    font-size: .9rem;
    border-width: 2px; }
  .btn--thin {
    min-width: 145px;
    font-size: .8rem; }

.work {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem; }
  .work .work__col {
    flex-basis: 33.33%;
    padding: 1rem; }
    .work .work__col .work__item {
      box-shadow: 0 0 4px #00000060;
      border-radius: 10px;
      overflow: hidden;
      transition: box-shadow .2s linear; }
      .work .work__col .work__item:hover {
        box-shadow: 0 0 20px #00000060; }
      .work .work__col .work__item .work__image {
        display: block;
        max-width: 100%;
        height: auto; }
      .work .work__col .work__item .work__item-content {
        padding: 1rem .8rem; }
        .work .work__col .work__item .work__item-content .work__cat {
          font-size: 0.8rem;
          color: #2b2a2c;
          text-transform: uppercase;
          margin-bottom: .5rem; }
        .work .work__col .work__item .work__item-content .work__title {
          font-size: 1.06rem;
          color: #2b2a2c;
          text-transform: uppercase;
          font-weight: bold;
          display: flex;
          justify-content: space-between; }

.my_works {
  margin: 2.8rem 0; }
  .my_works .container h2 {
    text-transform: uppercase;
    color: #2b2a2c;
    text-align: center;
    margin-bottom: 1rem; }

.about {
  margin: 8.4rem 0; }
  .about .about__inner {
    display: flex;
    max-width: 1090px; }
    .about .about__inner .about__photo {
      position: relative;
      z-index: 2; }
      .about .about__inner .about__photo:before {
        content: "";
        width: 413px;
        height: 413px;
        background-color: #efefef;
        position: absolute;
        left: 1rem;
        bottom: 0;
        z-index: 1; }
      .about .about__inner .about__photo img {
        position: relative;
        z-index: 2; }
    .about .about__inner .about__title {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #2b2a2c; }
    .about .about__inner .about__bigtitle {
      font-size: 6.1rem;
      font-weight: bold;
      color: #2b2a2c3d;
      text-transform: uppercase;
      line-height: 1.1;
      margin-bottom: 1.4rem;
      position: relative;
      left: -2px; }
    .about .about__inner .about__text {
      font-size: .8rem;
      color: #6A696B;
      line-height: 2;
      font-weight: 300;
      margin-bottom: 2.8rem; }
    .about .about__inner .about__photo, .about .about__inner .about__content {
      width: 50%; }
    .about .about__inner .about__content {
      margin-top: 2rem;
      padding-left: 3.2rem; }

.footer {
  background: #2b2a2c;
  padding: 1.35rem 0; }

.footer__inner {
  display: flex;
  justify-content: space-between; }

.footer__social {
  display: flex;
  align-items: center; }

.footer__nav {
  font-size: .94rem;
  display: flex;
  align-items: center; }

.footer__nav-link {
  font-size: 0.93rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-left: 30px; }
  .footer__nav-link:after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: .2s linear; }
  .footer__nav-link:hover:not(.footer__nav-link--btn):after {
    display: block;
    width: 100%; }
  .footer__nav-link--btn {
    padding: 0.66rem 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color .2s linear, color .2s linear; }
    .footer__nav-link--btn:hover {
      background: #fff;
      color: #2b2a2c; }

.modal {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 25, 47, 0.82);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.8s ease 0s;
  overflow-x: hidden;
  overflow-y: auto; }
  .modal.open {
    opacity: 1;
    visibility: visible; }
  .modal.open .modal_dialog {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1; }
  .modal.open .modal_contact_op {
    transform: perspective(600px) translate(0px, 20%) rotateX(0deg);
    opacity: 1; }
  .modal .close__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.modal_dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  background: white;
  position: relative;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all .8s ease 0s;
  opacity: 0; }
  .modal_dialog--sm {
    max-width: 900px;
    padding: 0; }

.modal_close {
  width: 34px;
  height: 39px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: .9rem;
  right: 1rem;
  z-index: 1;
  transition: transform .2s linear; }
  .modal_close:hover {
    transform: translateY(-2px); }
  .modal_close:focus {
    outline: none; }

.modal__content img {
  width: 100%;
  margin-top: 1rem; }

.modal__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #2b2a2c;
  margin-bottom: 3rem; }

.contact {
  display: flex; }

.contact__left {
  width: 47%;
  padding: 2rem; }
  .contact__left .modal__subtitle {
    text-transform: uppercase;
    font-size: 1rem; }
  .contact__left .contact__info-icon {
    width: 25px;
    margin-right: 1rem; }

.contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .contact__info-item:last-child {
    margin-bottom: 0; }

.contact__right {
  width: 53%;
  background: url("https://placehold.it/480x700") center no-repeat; }

.form__group {
  margin-bottom: 1.8rem; }

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  font-family: inherit;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2;
  border: 1px solid #6A696B;
  border-radius: 1.8rem; }
  .form__input:focus,
  .form__textarea:focus {
    outline: none;
    border-color: #2b2a2c; }
  .form__input::placeholder,
  .form__textarea::placeholder {
    color: #6A696B; }

.form__label {
  display: inline-block;
  margin-bottom: .6rem;
  font-size: .8rem;
  color: #2b2a2c;
  font-weight: 700; }

.form__textarea {
  height: 200px;
  resize: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.img {
  display: block;
  max-width: 100%;
  height: auto; }

.mb-0 {
  margin-bottom: 0; }

/*# sourceMappingURL=main_style.css.map */
