
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.contact__info {
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;

  font-size: 1.1rem;
  color: $black;
}